@page
@model LoginModel


<!-- Navbar Start -->
<div class="container-fluid">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0"><span class="text-primary">The</span>Hopeage</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav py-0">
                        <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Home</a>

                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Aboutus">About Us</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-controller="Home" asp-action="Mission">Mission</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a class="dropdown-item" asp-controller="Home" asp-action="MissionVision">Mission & Vision</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="History">Our History</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Team">Our Team</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Management">Management</a>
                            </div>
                        </div>

                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Services">Services</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Activities">Activities</a>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Photo" asp-action="Index">Admin Photos</a>
                        }
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" asp-controller="Home" asp-action="Gallery">Gallery</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a class="dropdown-item" asp-controller="Home" asp-action="Image">Image Gallery</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Video">Video Gallery</a>
                            </div>
                        </div>

                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                    </div>
                    <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="">Contribution</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
<style>
    .marg{
        margin-left:30%;
        margin-right:30%
    }
</style>

<div class="row marg">
       
        <section class="ml-3 mr-3">
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
               
            </form>
        </section>
    
    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
